@tailwind components;

@layer components {
  .input-base {
    @apply h-5 
    w-5 
    self-center 
    transition-all 
    duration-200 
    ease-in-out 
    cursor-pointer 
    border-primary-default 
    border-2 
    checked:bg-primary-default 
    checked:hover:bg-primary-hover 
    checked:focus:bg-primary-default 
    focus:checked:ring-2 
    focus:checked:ring-primary-default 
    hover:bg-secondary-active 
    focus:hover:bg-primary-hover 
    disabled:cursor-not-allowed
    disabled:bg-white-default 
    disabled:border-primary-disabled
    disabled:checked:bg-primary-disabled;
  }
}
