@tailwind components;

@layer components {
  div.text-form {
    @apply grid 
    w-full 
    sm:w-96 
    h-14 
    pl-2 
    pt-0 
    rounded 
    border-0 
    transition-all 
    duration-200 
    ease-in-out 
    cursor-text;
  }
  input.field {
    @apply border-0 
    p-0 
    mt-0 
    text-base 
    text-black-default 
    bg-transparent 
    focus:outline-transparent 
    border-transparent 
    focus:border-transparent 
    focus:ring-0;
  }
}
